body {
  background-color: whitesmoke;
  padding-top: 50px;
  padding-bottom: 100px;
}

.track {
  background-color: white;
  border-radius: 3px;
  padding: 10px;
  margin: 10px;
  display: none;
  box-shadow: 1px 1px 10px #D3D3D3;
}

.resource {
  background-color: white;
  border-radius: 3px;
  padding: 10px;
  margin: 10px;
  /* display: none; */
  box-shadow: 1px 1px 10px #D3D3D3;
}

form {
  border: .5px solid lightgray;
  padding: 10px;
  box-shadow: 1px 1px 10px #D3D3D3;
}

#resource-survey {
  /* display: none; */
}

#age-message {
  display: none;
}
